
<div class="content-section">
    <div class="flex-1">
        <h1 class="title">
            How has it benefited you when with people who don't have this skill?
        </h1>
    <p class="description">
        Have you ever helped someone understand something they didn’t understand and had them go “ooh I get it now”? The joy of that is what I’ve gotten.
    </p>
    </div>
    <div class="flex-1"></div>
</div>