

<div class="max-w-[1200px] relative px-4 pt-4 rounded-lg border-2 border-gray-100 mx-auto md:grid grid-cols-2">
<div class="">
    <div class="text-3xl font-medium text-red-400 -rotate-3 mb-4">
        Hey!
    </div>
    <h1 class="mb-4">
        Wanna see the code that makes this site tick?<br>
    </h1>
    <a class="p-4 bg-gray-700 rounded-lg text-white" href="https://github.com/anas2479/fund-of-knowledge" target="_blank">check it out here</a>
</div>
<div class="">
    <img class="max-w-[300px]" src="./assets/anas.png" alt="">
</div>
</div>
