

<div class="max-w-[1200px] relative px-4 pt-4 rounded-lg border-2 border-gray-100 mx-auto md:flex flex-wrap">
    <div class="flex-1">
        <h1 class="title">
            <span class="text-2xl transform scale-150 rotate-12">Hey</span><br>
            wanna see the code that makes this site tick?<br>
            <a href="">check it out here</a>
        </h1>
    </div>
    <div class="flex-1 md:absolute md:bottom-0 h-full md:right-0">
        <img class="max-w-[300px]" src="./assets/anas.png" alt="">
    </div>
</div>