

<div class="max-w-[1200px] mx-auto md:flex items-center gap-4 h-screen">
    <div class="flex-1"></div>
    <div class="flex-1">
        <h1 class="text-3xl lg:text-5xl text-gray-700 font-medium capitalize">
            {{title}}
        </h1>
    </div>
</div>