
<div class="content-section">
    <div class="flex-1"></div>
    <div class="flex-1">
        <h1 class="title">
            How did i acquire the skill of web dev?
        </h1>
    <p class="description">
        I was first introduced to web development in my freshman year of high school, but I’m pretty much self-taught. When it comes to learning something new, Google is your best friend, but this is especially true in coding.
    </p>
    </div>
</div>