
<div class="content-section">
    <div class="flex-1">
        <h1 class="title">
            How do i rank when compared to other people?
        </h1>
    <p class="description">
        Friends and family give me the kind of look you’d give to someone if they were talking about creating a time machine. Hmm...guess I’m not bad then.
    </p>
    </div>
    <div class="flex-1"></div>
</div>