
<div class="content-section">
    <div class="flex-1">
        <h1 class="title">
            why is web development meaningful to me?
        </h1>
    <p class="description">
        I love web development because I enjoy the challenge and the process of it. Being a web developer takes me from a consumer to a creator - and that feels pretty awesome.
    </p>
    </div>
    <div class="flex-1"></div>
</div>